@using System.Text.Json
@model ErrorInstanceViewModel

<section class="padding--24">
  <header class="margin-bottom--12 border-width--0 border-bottom-width--1 border-style--solid border-color--color-border-elevation">
    <h4 class="font-opensans--14--32--600 color--color-text-low-emphasis">Request</h4>
  </header>

  <div class="ei-table">
    <div class="ei-label">HTTP method</div>
    <div class="ei-result">@Model.RaygunMessage.Details.Request.HttpMethod</div>
  </div>

  <div class="ei-table">
    <div class="ei-label">Host name</div>
    <div class="ei-result">@Model.RaygunMessage.Details.Request.HostName</div>
  </div>

  <div class="ei-table">
    <div class="ei-label">IP address</div>
    <div class="ei-result">@Model.RaygunMessage.Details.Request.IPAddress</div>
  </div>

  <div class="ei-table">
    <div class="ei-label">URL</div>
    <div class="ei-result"><a class="no-underline color--color-text-link" href="@Model.RaygunMessage.Details.Request.Url" target="_blank">@Model.RaygunMessage.Details.Request.Url</a></div>
  </div>

  <div class="ei-table">
    <div class="ei-label">User-agent</div>
    <div class="ei-result">@Model.RaygunMessage.Details.Request.Headers["User-Agent"]</div>
  </div>

  <div class="ei-table">
    <div class="ei-label">Referer</div>
    <div class="ei-result">@Model.RaygunMessage.Details.Request.Headers["Referer"]</div>
  </div>

  <div class="ei-table">
    <div class="ei-label">Cookie values</div>
    <div class="ei-result">
      @Model.RaygunMessage.Details.Request.Cookies.Count cookies
      <pre><code class="language-json">@JsonSerializer.Serialize(Model.RaygunMessage.Details.Request.Cookies, new JsonSerializerOptions { WriteIndented = true })</code></pre>
    </div>
  </div>

  <div class="ei-table">
    <div class="ei-label">Header values</div>
    <div class="ei-result">
      <pre><code class="language-json">@JsonSerializer.Serialize(Model.RaygunMessage.Details.Request.Headers, new JsonSerializerOptions { WriteIndented = true })</code></pre>
    </div>
  </div>

</section>

<section class="padding--24">
  <header class="margin-bottom--12 border-width--0 border-bottom-width--1 border-style--solid border-color--color-border-elevation">
    <h4 class="font-opensans--14--32--600 color--color-text-low-emphasis">Response</h4>
  </header>
  
  <div class="ei-table">
    <div class="ei-label">Status code</div>
    <div class="ei-result">@Model.RaygunMessage.Details.Response.StatusCode</div>
  </div>

  <div class="ei-table">
    <div class="ei-label">Status description</div>
    <div class="ei-result">@Model.RaygunMessage.Details.Response.StatusDescription</div>
  </div>

</section>

<script src="~/js/prism.js"></script>
<script src="~/js/prism-json.min.js"></script>